nav {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    width: auto;
    width: 100px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}